{% extends 'layout.html' %}

{% block menu %}
    {% include 'admin-menu.html' %}
{% endblock %}

{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Welcome to Manager view</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                {% if messages %}
                    {% for key,value in messages %}
                        <div class="alert alert-{{ key }}">{{ value }}</div>
                    {% endfor %}
                {% endif %}
                <a class="btn btn-default" href="/users/posts/new">New post</a>
                <table class="table table-striped" >
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.id }} </td>
                            <td><a href="/users/posts/{{ post.id }}" > {{ post.title }}</a></td>
                        </tr>
                    {% endfor %}

                    </tbody>

                </table>
               {{ totalPage |pagination(currentPage) |safe }}
            </div>
        </div>
    </div>

{% endblock %}
