{%extends "layout.html"%}
{%block content%}
<header class = "intro-header" style="background-image: url('img/home-bg.jpg') ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ error.status }} {{ message }}</h1>
                    <hr class="small">
                    <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>

    </div>
</header>
<! main content -->
<div class="container">
    <div class="row">
        <pre>{{error.stack}}</pre>
    </div>
</div>
{%endblock%}